@charset "UTF-8";

* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("images/contruction.jpeg");
}

/* Style the header */
header {
  background-color: #666;
  text-align: left;
  padding:20px;
  font-size: 30px;
  color: white;
}
header img{
  width: 200px;
  height: 200px;
}
H1.absolute1 {
  position: absolute;
  top: 5px;
  left: 270px;
}

/*hr Lines*/
hr.new1 {
  border: 2px solid black;
}

/*First naigation*/
.firstnavi input[type=text] {
  float: right;
  padding: 2px;
  margin-right: 12px;
  border: none;
  font-size: 12px;
  background-color: #E0E0E0;
}

.firstnavi a.navi2{
  display:inline;
  color:black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}


/*Second Navigation*/
nav{
  font-size: 11px;
}
ul.navi1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li.left1 {
  float: left;
}
li.right1 {
  float: right;
}
li a.navi11 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a.navi11:hover {
  background-color: #111;
}

/*section*/

.head1{
	font-family : Georgia;
	text-align : center;

}

.para{
	color : grey;
	font-family : Georgia;
	font-size : 14px;
}

.h3{
	color : grey;
	text-align : center;
}

.p1{
	font-size : 18px;
	font-family : Georgia;
	color : black;
	text-align: center;
}
.p10{
	font-size : 14px;
	font-family : Georgia;
	color : black;
	text-align: center;
}

.p2{
	font-size : 12px;
	font-family : Georgia;
	color : grey;
	text-align : center;
}

.text{
	text-align : center;

}
.textarea{
	text-align : center;
}


.bgcolor{
	background-color : #2F4F4F;
	}






  .infobox{
    border: 2px solid black;
  }



/*footer*/

footer {
  padding: 10px;
  background-color:#808080;
  color: black;
}
.p5{
  font-style: italic;
  font-size: 12.5px;
}
.footerrow{
  content: none;
  display: table;
  clear: both;
}


.footerico{
  width: 50px;
  height: 50px;
}

.footercolumn{
  float: left;
  width:190px;
  height: 100px;
  padding:15px;
}
