@charset "UTF-8";

/*web fonts*/
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  color: white;
  font-family: 'Varela', sans-serif;
}

body{
  background-image:url('../image/img2.jpg');
  background-repeat:no-repeat;
}

.div5{
  margin: 40px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 12px;
  width: 550px;
  height:auto;
  text-align: center;
  color: white;
}

.div5 a{
  text-decoration: none;
}

h1, h3, h4{
  color: white;
}

button{
  padding: 10px 35px;
  border-radius: 13px;
  background: none;
  color: white;
  border: solid 2px;
  font-size: 15px;
}

img{
  margin: 15px;
  width: 200px;
}

.textbox{
  padding: 9px 45px;
  border-radius: 13px;
  background: none;
  color: white;
}

.p1{
  font-family:Arial Verdana;
  color: lightgray;
}

.p2{
  font-family: 'Roboto',sans-serif;
}
